<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {{{meta}}}
    <title>{{{title}}}</title>

    {{{head}}}
</head>
<body>
<div id="content">
    {{{html}}}
</div>
<div id="footer"></div>
{{{footer}}}

</body>
</html>